@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;
    --hover: #f3f2f2;

    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888;
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;

    --gray-100: #f2f2f2;
    --gray-200: #e6e6e6;
    --gray-300: #e0e0e0;
    --gray-400: #e6e6e6;
    --gray-500: #cccccc;
    --gray-600: #a6a6a6;
    --gray-700: #8c8c8c;
    --gray-800: #7d7d7d;
    --gray-900: #666666;
    --gray-1000: #262626;

    --green: #0cce6b;
    --orange: #ffa400;
    --red: #ff4e42;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #fff;
      --background: #000;
      --hover: #232323;

      --accents-1: #111;
      --accents-2: #333;
      --accents-3: #444;
      --accents-4: #666;
      --accents-5: #888;
      --accents-6: #999;
      --accents-7: #eaeaea;
      --accents-8: #fafafa;

      --gray-100: #1a1a1a;
      --gray-200: #202020;
      --gray-300: #282828;
      --gray-400: #2e2e2e;
      --gray-500: #454545;
      --gray-600: #878787;
      --gray-700: #8c8c8c;
      --gray-800: #7d7d7d;
      --gray-900: #a3a3a3;
      --gray-1000: #ededed;

      --green: #0cce6b;
      --orange: #ffa400;
      --red: #ff4e42;
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100svh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Geist */
.title {
  @apply text-3xl font-semibold leading-8;
}

.subtitle {
  @apply text-lg text-[--accents-5];
}

/* Section */
.section {
  @apply flex flex-col gap-4 my-10;
}

.section-title {
  @apply text-xl font-semibold leading-8;
}

.section-subtitle {
  @apply text-[--accents-5];
}

/* card */
.card {
  @apply flex p-4 border border-[--accents-2] bg-[--background] rounded-lg;
}

/* Input */
.input-container {
  @apply flex items-center gap-2 px-2 border border-[--accents-2] focus-within:border-[--accents-3] bg-[--background] rounded-lg max-w-64;
}

.input {
  @apply px-3 py-2 w-full outline-none bg-transparent border-l border-[--accents-2];
}

.picker-container {
  @apply relative flex justify-center items-center w-7 h-7 overflow-hidden rounded-lg border border-[--background];
}

.picker {
  @apply absolute w-10 h-10 appearance-none bg-transparent cursor-pointer;
}
